# Extracting dates from medical records
### - Aashita Kesarwani

The aim of the project is first to identify dates given in different formats from the messy medical data and convert them in the same format and then sort them. The project was a weekly assignment from the course [Applied Text Mining in Python](https://www.coursera.org/learn/python-text-mining/) offered by the University of Michigan on Coursera.

First, we start with loading data and importing pandas module for working with the data:

In [1]:
import pandas as pd
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)
df = pd.Series(doc)

Our data consists of medical notes where each note has a date that needs to be extracted. There are 500 records in total as shown below:

In [2]:
df

0           03/25/93 Total time of visit (in minutes):\n
1                         6/18/85 Primary Care Doctor:\n
2      sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:\n
4      2/6/96 sleep studyPain Treatment Pain Level (N...
5                      .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current su...
7      10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                           3/7/86 SOS-10 Total Score:\n
9               (4/10/71)Score-1Audit C Score Current:\n
10     (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                         4/09/75 SOS-10 Total Score:\n
12     8/01/98 Communication with referring physician...
13     1/26/72 Communication with referring physician...
14     5/24/1990 CPT Code: 90792: With medical servic...
15     1/25/2011 CPT Code: 90792: With medical servic...
16           4/12/82 Total time of visit (in minutes):\n
17          1; 10/13/1976 Audit C Score, Highest/Date:\n
18                   4, 4/24/98 Relevant Drug History:\n
19     ) 59 yo unemployed w referred by Urgent Care f...
20           7/21/98 Total time of visit (in minutes):\n
21                        10/21/79 SOS-10 Total Score:\n
22      3/03/90 CPT Code: 90792: With medical services\n
23      2/11/76 CPT Code: 90792: With medical services\n
24     07/25/1984 CPT Code: 90791: No medical services\n
25     4-13-82 Other Child Mental Health Outcomes Sca...
26      9/22/89 CPT Code: 90792: With medical services\n
27        9/02/76 CPT Code: 90791: No medical services\n
28                                9/12/71 [report_end]\n
29     10/24/86 Communication with referring physicia...
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
Length: 500, dtype: object

An example of medical record is shown below.

In [3]:
df[19]

') 59 yo unemployed w referred by Urgent Care for psychiatric evaluation and follow up. The patient reports she has been dx w BAD. Her main complaint today is anergy. Ms. Hartman was evaluated on one occasion 5/21/77. She was a cooperative but somewhat vague historian.History of Present Illness and Precipitating Events\n'

The dates in the records are encoded in different formats. Here is a list of some of the variants present in this dataset:  
1. 04/20/2009; 04/20/09; 4/20/09; 4/3/09  
2. Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009  
3. 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009  
4. Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009  
5. Feb 2009; Sep 2009; Oct 2010  
6. 6/2008; 12/2009  
7. 2009; 2010    
 
I encountered a couple typos in the dates as this is a raw, real-life derived dataset. Below is the code to extract all the dates while ignoring other numerals that might seem similar to dates.

In [4]:
Text = df.copy()
Text = Text.str.replace("Janaury", "January")
Text = Text.str.replace("Decemeber", "December")
def re_1(text):
    return text.str.extract("(?P<Date>(?P<Month>[01]?\d)[/-](?P<Day>[0123]?\d)[/-](?P<Year>\d{4}))")
def re_2(text):
    return text.str.extract("(?P<Date>(?P<Month>[01]?\d)[/-](?P<Day>[0123]?\d)[/-](?P<Year>\d{2}))")
def re_3(text):
    return text.str.extract("(?P<Date>(?P<Month>[01]?\d)[/-](?P<Year>[12][90]\d{2}))")
def re_4(text):
    return text.str.extract("(?P<Date>(?P<Day>[0123]?\d)\s(?P<Month>January|February|March|April|June|July|August|September|October|November|December|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s(?P<Year>\d{4}))")
def re_5(text):
    return text.str.extract("(?P<Date>(?P<Month>January|February|March|April|June|July|August|September|October|November|December|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\.?\s(?P<Day>[0123]?\d),?\s(?P<Year>\d{4}))")
def re_6(text):
    return text.str.extract("(?P<Date>(?P<Month>January|February|March|April|June|July|August|September|October|November|December|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec),?\s(?P<Year>\d{4}))")
def re_7(text):
    return text.str.extract("(?P<Date>(?P<Year>\d{4}))")
df1 = re_1(Text).dropna(how="all")
Text = Text.drop(list(df1.index))
df2 = re_2(Text).dropna(how="all")
Text = Text.drop(list(df2.index))
df2.Year = df2.Year.apply(lambda x: '19' + x)
df3 = re_3(Text).dropna(how="all")
df3["Day"] = 1
Text = Text.drop(list(df3.index))
df4 = re_4(Text).dropna(how="all")
df4.Month = df4.Month.apply(lambda x: x[:3])
Text = Text.drop(list(df4.index))
df5 = re_5(Text).dropna(how="all")
df5.Month = df5.Month.apply(lambda x: x[:3])
Text = Text.drop(list(df5.index))
df6 = re_6(Text).dropna(how="all")
df6.Month = df6.Month.apply(lambda x: x[:3])
df6["Day"] = 1
Text = Text.drop(list(df6.index))
df7 = re_7(Text).dropna(how="all")
df7["Day"] = 1
df7["Month"] = 1
Text = Text.drop(list(df7.index))

Date = pd.concat([df1, df2, df3, df4, df5, df6, df7])
Date.sample(30)

                  Date Day Month  Year
69           11/3/1985   3    11  1985
22             3/03/90  03     3  1990
103            9/22/82  22     9  1982
480               2013   1     1  2013
229          June 2011   1   Jun  2011
259           Nov 1979   1   Nov  1979
320      November 2012   1   Nov  2012
155        10 Oct 1974  10   Oct  1974
310           Oct 1992   1   Oct  1992
331      December 1993   1   Dec  1993
207     August 12 2004  12   Aug  2004
135        10 Oct 1985  10   Oct  1985
201  December 23, 1999  23   Dec  1999
400            11/2008   1    11  2008
322       October 1991   1   Oct  1991
64          07/29/1994  29    07  1994
65            08/11/78  11    08  1978
142        22 Jan 1996  22   Jan  1996
350             5/2004   1     5  2004
424             4/1979   1     4  1979
407             8/1999   1     8  1999
165     18 August 1975  18   Aug  1975
396             8/2008   1     8  2008
311     February, 1995   1   Feb  1995
221       Oct 18, 1980  18   Oct  1980
10             5/11/85  11     5  1985
262           Jun 2002   1   Jun  2002
38           7/27/1986  27     7  1986
230           May 1986   1   May  1986
249         April 1993   1   Apr  1993

Once these date patterns are extracted from the text, they are encoded in the same format of  the next step is to sort them in ascending chronological order according to the following rules:  
1. Assumed all dates in xx/xx/xx format are mm/dd/yy.    
2. Assumed all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989).  
3. If the day is missing (e.g. 9/2009), assumed it is the first day of the month (e.g. September 1, 2009).    
4. If the month is missing (e.g. 2010), assumed it is the first of January of that year (e.g. January 1, 2010).

Below is the code to sort the dates in ascending chronological order:

In [5]:
months_dict = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 
               'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 9, 'Dec': 12}
Date.Month = Date.Month.replace(months_dict)
Date.Month = Date.Month.astype('int')
Date.Day = Date.Day.astype('int')
Date.Year = Date.Year.astype('int')
Date = Date.sort_values(by=["Year", "Month", "Day"])
Date

                   Date  Day  Month  Year
9               4/10/71   10      4  1971
84              5/18/71   18      5  1971
2                7/8/71    8      7  1971
53              7/11/71   11      7  1971
28              9/12/71   12      9  1971
474                1972    1      1  1972
153         13 Jan 1972   13      1  1972
13              1/26/72   26      1  1972
129         06 May 1972    6      5  1972
98              5/13/72   13      5  1972
111             6/10/72   10      6  1972
225       June 15, 1972   15      6  1972
31              7/20/72   20      7  1972
191         30 Nov 1972   30      9  1972
171         04 Oct 1972    4     10  1972
486                1973    1      1  1973
415              2/1973    1      2  1973
335       February 1973    1      2  1973
36              2/14/73   14      2  1973
405             03/1973    1      3  1973
323          March 1973    1      3  1973
422              4/1973    1      4  1973
375             06/1973    1      6  1973
380              7/1973    1      7  1973
345             10/1973    1     10  1973
57             12/01/73    1     12  1973
481                1974    1      1  1974
436              2/1974    1      2  1974
104             2/24/74   24      2  1974
299          March 1974    1      3  1974
..                  ...  ...    ...   ...
220       June 25, 2012   25      6  2012
208  September 01, 2012    1      9  2012
243            Sep 2012    1      9  2012
320       November 2012    1      9  2012
139         21 Oct 2012   21     10  2012
383             12/2012    1     12  2012
244       January, 2013    1      1  2013
286        January 2013    1      1  2013
480                2013    1      1  2013
431              4/2013    1      4  2013
279            Sep 2013    1      9  2013
198   October. 11, 2013   11     10  2013
381              1/2014    1      1  2014
463                2014    1      1  2014
366              7/2014    1      7  2014
439             10/2014    1     10  2014
255            Oct 2014    1     10  2014
401             12/2014    1     12  2014
475                2015    1      1  2015
257            Sep 2015    1      9  2015
152         28 Sep 2015   28      9  2015
235            Oct 2015    1     10  2015
464                2016    1      1  2016
253            Feb 2016    1      2  2016
427              5/2016    1      5  2016
231            May 2016    1      5  2016
141         30 May 2016   30      5  2016
186         13 Oct 2016   13     10  2016
161         19 Oct 2016   19     10  2016
413             11/2016    1     11  2016

[500 rows x 4 columns]

The first column above is the index which is unique to each medical record, so now we have medical records sorted in ascending chronological order of the dates mentioned in them. The indices of the earliest 10 medical records are given below:

In [6]:
print("\n".join(map(str,Date.index[:10])))

9
84
2
53
28
474
153
13
129
98